.hz-container{
	padding-top: 70px;
}
.pbd{
    width : 1200px;
    margin : 0 auto;
}
.errormail{
	boder:1px solid red;
}

.hz-error .hz-help-block{
	display: block;
}
 .table, .th, .td {
            cellpadding:1px;
            cellspacing:1px;
        }
        .th{
            background:#B4F114;
        }
        .active {
            background:red;
        }
.t-id{
    float :left;
}
 .pgn-id ,.pgp-id{
    
}
.pg-id{
    float: right;
}